<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/content/app.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    
  </head>
  <body>

    <!--Header start-->
      <%- include('./components/header.ejs');%>
    <!--Header ending-->
      <div class="container1" >
        <!-- <br> -->
        <%- include('./content/' + page +'.ejs');%>

      </div>
      <!-- <div class="clear">
        
      </div> -->
      <%- include('./components/footer.ejs');%>
      <script src="../scripts/app.js"></script>
      <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../jquery/dist/jquery.min.js"></script>
      <script src="../script/script.js"></script>
  </body>
</html>